<!DOCTYPE html>
<html lang="en">
    <head>
    
    <meta charset="UTF-8">
    
    <title>Sistema de Agendamento de Recursos da UFRJ</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="css/style.css">
    
    </head>

    <body>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                    
                        <!-- FORM DE SIGN IN -->
                        <form class="form-signin">
                            <fieldset>
                                <legend><h5>Faça o login:</h5></legend>
                                <label for="inputEmail" class="sr-only">E-mail</label>
                                <input type="email" id="inputEmail" class="form-control" placeholder="exemplo@dominio.com.br" required autofocus>
                                <label for="inputPassword" class="sr-only">Senha</label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="********" required>
                                <br>
                                <button class="btn btn-lg btn-block btn-ufrj" type="submit">Entrar no sistema</button>
                            </fieldset>
                        </form>                      
                        <!-- FIM FORM -->
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
  
    </body>
</html>
