{% extends "layout.html" %}

{% block content %}

    <!-- CONTEUDO ESPECIFICO DA PAGINA -->
    <h2 class="page-header">Usu&aacute;rios</h2>
    
    <div class="row">
        <div id="search-by-id-box" class="col-sm-12 alert alert-info" align="center">
            Tamb&eacute;m &eacute; poss&iacute;vel <strong>filtrar</strong> a lista de usu&aacute;rios por:
            <form class="form-inline" action="/buscar/usuario" method="POST">
                <div class="form-group">
                    <label class="sr-only">C&oacute;digo do Usu&aacute;rios</label>
                    <input type="text" class="form-control" name="id-usuario" id="id-usuario" placeholder="C&oacute;digo do Usu&aacute;rio"/>
                    <small>ou</small>
                </div>
                <div class="form-group">
                    <label class="sr-only">Nome do Usu&aacute;rio</label>
                    <input type="text" class="form-control" name="nome-usuario" id="nome-usuario" placeholder="Nome do Usu&aacute;rio"/>
                    <small>ou</small>
                </div>
                <div class="form-group">
                    <label class="sr-only">Departamento do Usu&aacute;rio</label>
                    <input type="text" class="form-control" name="departamento-usuario" id="departamento-usuario" placeholder="Departamento do Usu&aacute;rios"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    
    <!-- TABELA DE EXIBICAO DE RESULTADOS -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>    
                    <th>C&oacute;digo</th>
                    <th>Nome</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody class='clickable-row'>
                <tr data-url=''>
                    <td>001</td>
                    <td>João</td>
                    <td>DEL</td>
                </tr>
                <tr data-url=''>
                    <td>002</td>
                    <td>Maria</td>
                    <td>DEC</td>
                </tr>
                <tr data-url=''>
                    <td>003</td>
                    <td>José</td>
                    <td>DEP</td>
                </tr>
                <tr data-url=''>
                    <td>004</td>
                    <td>Júlia</td>
                    <td>DEM</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- PAGINACAO -->
    <!-- TODO - GERAR PAGINACAO DINAMICAMENTE -->
        <ul class="pagination pagination-sm">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
    <!-- FIM DO CONTEUDO ESPECIFICO -->

{% endblock content %}