{% extends "layout.html" %}

{% block content %}

    <h1 class="page-header">Sistema de Agendamento</h1>  
    <p class="lead">Há <em>523</em> recursos cadastrados até o momento.</p>
    <p class="lead">Para começar, abra o menu sanduíche e escolha uma ação.</p>
    <p>O menu está localizado no canto superior esquerdo da tela.</p>
    <i class="fa fa-info" aria-hidden="true"></i><p>Para criar um <strong>agendamento</strong>, primeiro busque pelo <strong>recurso</strong> a ser agendado.</p>

{% endblock content %}