{% extends "layout.html" %}

{% block content %}

    <h1 class="page-header">SAR UFRJ</h1>  
    <p class="lead">Há <strong>523</strong> recursos cadastrados em nosso sistema.</p>
    <p class="lead">Para começar, abra o menu sanduíche e escolha uma ação.</p>
    <p>O menu está localizado no canto superior esquerdo da tela.</p>
    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Para criar um <strong>agendamento</strong>, primeiro busque pelo <strong>recurso</strong> a ser agendado.</p>

{% endblock content %}