{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="page-header">Sistema de Agendamento</h1>  
      <p class="lead">Há <em>1.029</em> recursos cadastrados até o momento.</p>
      <p class="lead">Para começar, abra o menu sanduíche e escolha uma ação.</p>
      <p>O menu está localizado no canto superior esquerdo da tela.</p>
      <p>Para criar um agendamento, primeiro busque pelo recurso a ser agendado</p>
    </div>
  </div>
{% endblock body %}
