<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Agendamento de Recursos da UFRJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel='stylesheet' href="{{url_for('assets.send', path='components/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('assets.send', path='components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}">
    <link rel="stylesheet" href="{{url_for('assets.send', path='components/fullcalendar/dist/fullcalendar.min.css')}}">
    <link rel="stylesheet" href="{{url_for('assets.send', path='style.css')}}">
  </head>
  <body>
    <script src="{{url_for('assets.send', path='components/jquery/dist/jquery.min.js')}}"></script>
    {% block outer %} {% endblock outer %}
    <script src="{{url_for('assets.send', path='components/moment/min/moment-with-locales.min.js')}}"></script>
    <script src="{{url_for('assets.send', path='components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('assets.send', path='components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{url_for('assets.send', path='components/fullcalendar/dist/fullcalendar.min.js')}}"></script>
    <script src="{{url_for('assets.send', path='components/fullcalendar/dist/locale-all.js')}}"></script>

    <script src="{{url_for('assets.send', path='index.js')}}"></script>
  </body>
</html>
