{% extends "layout.html" %}
{% block body %}
<form action="/recursos/listar" method="POST">
  <div class="form-group">
    <label for="categoria">Categoria</label><br>
    <select class="selectpicker" data-width="100%" name="categoria">
        {% for label, valor in tipos_recurso %}
        <option value="{{valor}}">{{label}}</option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="categoria">Localização</label>
    <input type="text" class="form-control" id="categoria" placeholder="Localização do recurso no Campi da UFRJ">
  </div>
  <div class="form-group">
    <label for="initialDate">Disponível entre:</label>
    <div class='input-group date' id='datetimepicker1'>
        <input name="initialDate" type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <div class='input-group date' id='datetimepicker2'>
        <input name="finalDate" type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<script>
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
</script>
{% endblock body %}
{% block notification %}
<div class="row">
    <div id="search-by-id-box" class="col-sm-12 alert alert-info" align="center">
        <i class="fa fa-info-circle" aria-hidden="true"></i>  Também é possível acessar um recurso diretamente através do <strong>código do recurso</strong></a>
        <form class="form-inline" action="/recursos/buscar/" method="POST">
          <div class="form-group">
            <label for="id-recurso" class="sr-only">Código do Recurso</label>
	    <input type="text" class="form-control" name="id-recurso" id="id-recurso" placeholder="Código do Recurso"/>
	    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
	  </div>
	</form>
    </div>
</div>
{% endblock notification %}
