<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Agendamento de Recursos da UFRJ</title>
        
        <!-- BOOTSTRAP CSS -->
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        
        <!-- DATEPICKER CSS -->
        <link rel="stylesheet" href="/dependencies/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css">
        
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        
        <div id="wrapper">
            
            <div class="overlay"></div>
        
            <!-- SIDEBAR -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">SAR UFRJ</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-home"></i>
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="/buscar/recurso">
                            <i class="fa fa-fw fa-th-large"></i>
                            Recursos
                        </a>
                    </li>

                    <li>
                        <a href="/buscar/usuario">
                          <i class="fa fa-fw fa-user"></i>
                          Usuários
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-file-text-o"></i>
                            Gerar relatórios
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-info"></i>
                            Sobre o projeto
                        </a>
                    </li>
                </ul>
            </nav> <!-- sidebar wrapper -->

            <!-- PAGE CONTENT -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <!--<div class="col-lg-8 col-lg-offset-2">-->
                        
                        <!-- CONTEUDO PERSONALIZAVEL -->
                        {% block content %} {% endblock content %}
                        
                        <!--</div>-->
                    </div>
                </div>
            </div> <!-- page content wrapper -->

        </div> <!-- body wrapper -->        
        
        <!-- DATEPICKER JS FILES -->
        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/dependencies/moment-develop/moment.js"></script>
        <script type="text/javascript" src="/dependencies/bootstrap-3.3.7/js/transition.js"></script>
        <script type="text/javascript" src="/dependencies/bootstrap-3.3.7/js/collapse.js"></script>
        <script type="text/javascript" src="/dependencies/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/dependencies/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js"></script>
        
        <!-- CUSTOM SCRIPT -->
        <script src="/js/index.js"></script>

    </body>
</html>