{% extends "layout.html" %}
{% block body %}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario['id'] }}</td>
          <td>{{ usuario['nome'] }}</td>
          <td>{{ usuario['email'] }}</td>
          <td>{{ usuario['nivel'] }}</td>
          <td><a href="{{ url_for('usuarios.editar', id_usuario = usuario.id) }}">Editar Usuário</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('usuarios.novo') }}" class="btn btn-primary">Criar Usuário</a>
{% endblock body %}
