{% extends "layout.html" %}
{% block body %}
  <table class="table">
    <th>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>E-mail</td>
        <td></td>
      </tr>
    </th>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td><a href="/usuarios/{{ usuario.id }}/editar" class="btn btn-primary">Editar Usuário</a></td>       
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/usuarios/novo" class="btn btn-primary">Criar Usuário</a>
{% endblock body %}
