
{% extends "layout.html" %}
{% block body %}
<div id="calendar">
</div>
<script>
 $(function(){
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
      		defaultView: 'agendaWeek',
			navLinks: true, // can click day/week names to navigate views
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow 0"more" link when too many events
      		locale: "pt-br"
{% if agendamentos %}
      	,events: {{agendamentos | safe}}
{% endif %}
		});
 })
</script>
{% endblock body %}
