
{% extends "layout.html" %}
{% block body %}
<div id="resource-info">
	<ul class="resource-info-list">
		<li><h4>{{ recurso.nome }}</h4>
		{% if admin %}
		<div style="margin-top:1em" class="btn-group push-right">
			<a type="button" class="btn btn-primary" href="{{url_for('recursos.editar', id = recurso.id)}}"><i class="fa fa-paint-brush fa-fw"></i>  Editar</a>
  			<button type="button" class="btn btn-primary"><i class="fa fa-lock"></i>  Desabilitar</button>
		</div>
		{% endif %}
		</li>
		<li><i class="fa fa-tag fa-fw" aria-hidden="true"></i>  {{ recurso.tipo.nome.capitalize() }}</li>
		<li><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>  {{ recurso.local }}</li>
	</ul>
</div>
<hr>
<div id="calendar">
</div>
<script>
var agendar_via_api = function agendar(data,ok_cb,fail_cb) {
 			$.ajax("{{ url_for('api.agendamento', id = recurso.id) | safe }}",
 			{
 				method: "POST",
 				data: data
 			})
 			.done(function (data) {
 				ok_cb(data);
 			})
 			.fail(function (data){
 				fail_cb(data);
 			});
 		};
 $(function(){
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			eventOverlap: false,
      		defaultView: 'agendaWeek',
			navLinks: true, // can click day/week names to navigate views
			selectable: true,
			selectHelper: true,
			// eventDrop: function (event, delta, minuteDelta, allDay, revertFunc) {
			// 	if (!confirm("Are you sure about this change?")) {
   //              	revertFunc();
   //          	}
			// },
			select: function(start, end) {
			// 	//var title = prompt('Event Title:');
			// 	console.log("Select");
			// 	// agendar_via_api(start,end,
			// 	// 	function ok () {
			var eventData;
			// 	// 		if (title) {
			eventData = {
				title: "{{ username }}",
				start: start,
				end: end
			};
			agendar_via_api(
			{
				initial_time: start.toISOString(),
				final_time: end.toISOString()
 			},
			function renderEvent (data) {
				$('#calendar').fullCalendar('renderEvent', eventData, true);
				$('#calendar').fullCalendar('unselect');
				console.log(data);
			},
			function fail(data) {
				console.error(data);
				$('#calendar').fullCalendar('unselect');
			});

			},
			editable: true,
			eventLimit: true, // allow 0"more" link when too many events
      		locale: "pt-br"
{% if agendamentos %}
      	,events: {{agendamentos | safe}}
{% endif %}
		});
 })
</script>
{% endblock body %}
