{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('recursos.criar') }}" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="categoria">Categoria</label>
    <input type="text" class="form-control" id="categoria" placeholder="Categoria">
  </div>
  <button type="submit" class="btn btn-primary">Criar</button>
</form>
{% endblock body %}
