{% extends "layout.html" %}
{% block body %}
  <table class="table">
    <th>
      <tr>
        <td>Código</td>
        <td>Nome</td>
        <td>Categoria</td>
      </tr>
    </th>
    <tbody>
      {% for recurso in recursos %}
        <tr>
          <td>{{ recurso.id }}</td>
          <td>{{ recurso.nome }}</td>
          <td>{{ recurso.tipo.nome }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/recursos/novo" class="btn btn-primary">Criar Recurso</a>
{% endblock body %}
