{% extends "layout.html" %}
{% block body %}
  <div>
    <span style="font-size: small" align="center"><i class="fa fa-info-circle"></i> Clique sobre o código de um recurso para abri-lo</span>
  </div>
  <table class="table">
    <th>
      <tr>
        <td>Código</td>
        <td>Nome</td>
        <td>Categoria</td>
        <td>Local</td>
      </tr>
    </th>
    <tbody>
      {% for recurso in recursos %}
        <tr>
          <td><a href="{{ url_for('recursos.detalhes', id = recurso.id)}}">{{ recurso.id }}</a></td>
          <td>{{ recurso.nome }}</td>
          <td>{{ recurso.tipo.nome.capitalize() }}</td>
          <td>{{ recurso.local }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ url_for('recursos.buscar') }}" class="btn btn-success">Buscar</a>
  <a href="/recursos/novo" class="btn btn-primary">Criar</a>
{% endblock body %}
