<!DOCTYPE html>
<html >
    <head>
        
        <meta charset="UTF-8">
        
        <title>Sistema de Agendamento de Recursos da UFRJ</title>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel="stylesheet" href="/css/style.css">
      
    </head>

    <body>
          <div id="wrapper">
            <div class="overlay"></div>
        
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                           UFRJ
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-home"></i> Início</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-th-large"></i> Recursos <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!--<li class="dropdown-header"Ações de manutenção</li>-->
                        <li><a href="#">Criar recurso</a></li>
                        <li><a href="#">Buscar recurso</a></li>
                        <li><a href="#">Alterar recurso</a></li>
                        <li><a href="#">Alterar disponibilidade</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-calendar"></i> Agendamentos <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!--<li class="dropdown-header">Ações de administração</li>-->
                        <li><a href="#">Criar agendamento</a></li>
                        <li><a href="#">Buscar agendamento</a></li>
                        <li><a href="#">Alterar agendamento</a></li>
                        <li><a href="#">Excluir agendamento</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i> Usuários <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <!--<li class="dropdown-header">Ações de administração</li>-->
                        <li><a href="#">Criar usuário</a></li>
                        <li><a href="#">Buscar usuário</a></li>
                        <li><a href="#">Alterar usuário</a></li>
                        <li><a href="#">Excluir usuário</a></li>
                      </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i> Gerar relatório</a>
                        <a href="#"><i class="fa fa-fw fa-info"></i> Sobre o projeto</a>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            {% block content %} {% endblock content %}
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

        <script src="/js/index.js"></script>

    </body>
</html>