<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="page-header">Sistema de Agendamento</h1>  
                    <p class="lead">Há <em>1.029</em> recursos cadastrados até o momento.</p>
                    <p class="lead">Para começar, abra o menu sanduíche e escolha uma ação.</p>
                    <p>O menu está localizado no canto superior esquerdo da tela.</p>                      
                </div>
            </div>
        </div>
    </div>
{% endblock content %}