<!DOCTYPE html>
<html >
    <head>
        
        <meta charset="UTF-8">
        
        <title>Sistema de Agendamento de Recursos da UFRJ</title>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>

        <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>


        <link rel="stylesheet" href="/css/style.css">
      
    </head>

    <body>
        
        <div id="wrapper">
            
            <div class="overlay"></div>
        
            <!-- SIDEBAR -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">UFRJ</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-home"></i>
                            Início
                        </a>
                    </li>
                    <li>
                        <a href="/buscar/recurso">
                            <i class="fa fa-fw fa-th-large"></i>
                            Recursos
                        </a>
                    </li>

                    <li>
                        <a href="/buscar/usuario">
                          <i class="fa fa-fw fa-user"></i>
                          Usuários
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-file-text-o"></i>
                            Gerar relatórios
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-fw fa-info"></i>
                            Sobre o projeto
                        </a>
                    </li>
                </ul>
            </nav> <!-- sidebar wrapper -->

            <!-- PAGE CONTENT -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <!--<div class="col-lg-8 col-lg-offset-2">-->
                        
                        <!-- CONTEUDO PERSONALIZAVEL -->
                        {% block content %} {% endblock content %}
                        
                        <!--</div>-->
                    </div>
                </div>
            </div> <!-- page content wrapper -->

        </div> <!-- body wrapper -->
        
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
        <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

        <script src="/js/index.js"></script>

    </body>
</html>