<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                  <fieldset>

                  <!-- Form Name -->
                  <legend>Buscar Usuário</legend>

                  <!-- Select Basic -->
                     
                    <!-- Código -->
                  <div class="form-group">
                    <label class="col-md-4 control-label">Código</label>  
                     <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                          <span class="input-group-addon"></span>
                    <input name="codigo" placeholder="Código do Usuário" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                    <!-- Nome-->
                  <div class="form-group">
                    <label class="col-md-4 control-label">Nome</label>  
                     <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="nome" placeholder="Nome do Usuário" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Departamento-->
                  <div class="form-group">
                    <label class="col-md-4 control-label">Departamento</label>  
                     <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input name="departamento" placeholder="Departamento" class="form-control" type="text">
                      </div>
                    </div>
                  </div>


                  <!-- Button -->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-info" >Enviar</button>
                    </div>
                  </div>

                  </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

{% endblock content %}